{% extends "index.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
                <form role="search" class="app-search">
                        <input type="text" placeholder="Search..." class="form-control">
                </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-lg-offset-2 col-sm-6">
            <div class="widget-panel widget-style-2 bg-pink">
                 
                <h2 class="m-0 counter">50</h2>
                <div>Daily Visits</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="widget-panel widget-style-2 bg-purple">
                 
                <h2 class="m-0 counter">12056</h2>
                <div>Sales</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="widget-panel widget-style-2 bg-info">
                 
                <h2 class="m-0 counter">1268</h2>
                <div>New Orders</div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div class="widget-panel widget-style-2 bg-success">
                 
                <h2 class="m-0 counter">145</h2>
                <div>New Users</div>
            </div>
        </div>
    </div> <!-- end row -->

    <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Type</th>
                                            <th>Genre</th>
                                            <th>ISBN-NO</th>
                                            <th>Sales</th>
                                            <th>Publish Date</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>

                             
                                    <tbody>
                                        {% for book in books %}
                                        <tr>
                                            <td>{{book.title}}</td>
                                            <td>{{book.author}}</td>
                                            <td>{{book.type}}</td>
                                            <td>{{book.genre}}</td>
                                            <td>{{book.isbn_number}}</td>
                                            <td>{{book.sales}}</td>
                                            <td>{{book.publish_date}}</td>
                                            <td>{{book.price}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                          
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div> <!-- End Row -->



{% endblock %}