{% extends "index.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
        <div class="page-title"> 
            <h3 class="title">Upload book</h3> 
        </div>
        
        <div class="row">
                <div class="col-lg-2 col-lg-offset-3 col-sm-6 ">
                        <div class="widget-panel widget-style-2 bg-purple text-center" data-toggle="modal" data-target="#con-close-modal">
                                <h2 class="m-0 counter fa fa-cloud-upload"></h2>
                            <div>From desktop</div>
                            
                            
                        </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="widget-panel widget-style-2 bg-purple text-center">
                            <h2 class="m-0 counter fa fa-dropbox"></h2>
                        <div>From dropbox</div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-purple text-center">
                                <h2 class="m-0 counter fa fa-google"></h2>
                            <div>From google</div>
                        </div>
                </div>
                
        </div> <!-- end row -->
        
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6"><span>Recent Uploads</span></div>
                        <div class="col-md-6 text-right"> <span>50 uploads made</span> </div>
                    </div>
                    
                    <div class="panel panel-default">
                            <div class="panel-body panel-padding" >
                                
                                    <div class="col-md-8">
                                        <p>The story of Dungu and nambi</p>
                                        <p class="check-status">Done <i class="ion-checkmark checkmark-postion" ></i></p>
                                    </div>
                                    <div class="col-md-4 text-right" data-toggle="modal" data-target="#full-width-modal"> <button class="btn btn-success btn-sm m-b-5">Edit Details</button> </div>
                                
                            </div> <!-- panel-body -->
                    </div> <!-- panel -->
                    
                    <div class="panel panel-default">
                            <div class="panel-body panel-padding" >
                                <div class="row">
                                    <div class="col-md-8">
                                            <p>The story of Dungu and nambi</p>
                                    </div>
                                    <div class="col-md-4 text-right"> <span>From Google Drive</span> </div>
                                </div>    

                                <div class="progress progress-custom" >
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-12" ><span>Uploading (80%)</span></div>
                                </div>
                            </div> <!-- panel-body -->
                    </div>
                    <div class="panel panel-default">
                            <div class="panel-body panel-padding" >
                                <div class="row">
                                    <div class="col-md-8">
                                            <p>The story of Dungu and nambi</p>
                                    </div>
                                    <div class="col-md-4 text-right"> <span>From Google Drive</span> </div>
                                </div>    

                                <div class="progress progress-custom" >
                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            </div>
                                </div>
                                <div class="row" >
                                    <div class="col-md-12" ><span>Uploading (80%)</span></div>
                                </div>
                            </div> <!-- panel-body -->
                    </div>

                    <div class="panel panel-default">
                            <div class="panel-body panel-padding" >
                                <div class="row">
                                    <div class="col-md-8">
                                            <p>Elon Musk</p>
                                    </div>
                                    <div class="col-md-4 text-right"> <span>From Google Drive</span> </div>
                                </div>    

                                <div class="progress progress-custom" >
                                    <div class="progress-bar progress-bar-pink progress-bar-striped " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    </div>
                                </div>
                                
                            </div> <!-- panel-body -->
                    </div>

            </div>
        </div>

        <div id="full-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="full-width-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-full">
                <div class="modal-content">
                    <div class="row">
                        <!-- Basic example -->
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default">
                                 <div class="panel-body">
                                    <div class="col-md-4">
                                            <div class="row">
                                                    <div class="col-sm-12">
                                                            <img class="book-img" src ='/static/img/book1.jpg' height="200" width="180"/>
                                                    </div>
                    
                                            </div>
                                        <div>
                                            
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label publish-label">Publish</label>
                                                        <div class="col-sm-8 control-label">
                                                                <label class="switch">
                                                                        <input type="checkbox" checked>
                                                                        <span class="slider round"></span>
                                                                </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group option-selection">
                                                            <div class="col-sm-8">
                                                                    <select class="form-control select-border">
                                                                        <option>Book</option>
                                                                        <option>Audio</option>
                                                                        
                                                                    </select>
                                                                    
                                                            </div>
                                                    </div>
                                                </div>
                
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                            <form role="form">
                                                <div class="form-group">
                                                    <label for="">Title</label>
                                                    <input type="text" class="form-control"  placeholder="Enter title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Upload books</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Price</label>
                                                    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter price">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Author</label>
                                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter author">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Category</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="category">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">ISBN-Number</label>
                                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="category">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Description</label>
                                                    <textarea class="form-control" rows="5"></textarea>    
                                                </div>
                                                <button type="submit" class="btn btn-purple">Submit</button>
                                            </form>
                                    </div>
                                </div><!-- panel-body -->
                            </div> <!-- panel -->
                        </div> <!-- col-->
                        
                        
                
                    </div> <!-- End row -->
                
                
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog"> 
                <div class="modal-content"> 
                     
                    <div class="modal-body"> 
                        <form method="post" action="" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" name="title" id="id_title" class="form-control"  placeholder="Enter title" required>
                            </div>
                            <div class="form-group">
                                <label for="">Upload book</label>
                                <input type="file" class="form-control" id="id_document" name="document" placeholder="">
                            </div>
                            <div class="form-group">
                                    <div class="col-sm-12">
                                            <select class="form-control"  name="type", id="id_type">
                                                <option value="BK">Book</option>
                                                <option value="AU">Audio</option>
                                                
                                            </select>
                                            
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="">Upload book image</label>
                                <input type="file" class="form-control" id="id_book_pic" name="book_pic" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="">Upload book audio</label>
                                <input type="file" class="form-control" id="id_audio_file" name="audio_file" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="">Price</label>
                                <input type="number" class="form-control" id="id_price" name="price" placeholder="Enter price" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Author</label>
                                <input type="text" class="form-control" id="id_author" name="author" placeholder="Enter author" required>
                            </div>
                            <div class="form-group">
                                    <label for="exampleInputEmail1">Publish Date</label>
                                    <input type="date" class="form-control" id="id_publish_date" name="publish_date" placeholder="Enter author" required>
                            </div>
                            <div class="form-group">
                                <label for="">Category</label>
                                <input type="text" class="form-control" id="id_genre" name="genre" placeholder="category" required>
                            </div>
                            <div class="form-group">
                                <label for="">ISBN-Number</label>
                                <input type="text" class="form-control" id="id_isbn_number" name="isbn_number" placeholder="category" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" id="id_description" name="description" rows="5"></textarea>    
                            </div>
                            
                            
                            <button type="submit" class="btn btn-purple">Submit</button>
                        </form>    
                    </div> 
                     
                </div> 
            </div>
        </div><!-- /.modal -->
{% endblock %}